<div class="row header-below">

  <div class="col-xl-6 col-lg-6 order-2 order-md-1 col-md-6 header-below-text-div">
      <div class="header-below-text">
          <h1 class="header-below-text-1">SOCIAL MEDIA</h1>
          <h1 class="header-below-text-2">FOR BUSINESS!</h1>
          <h1 class="lead">PERFOMANCE BASED SOCIAL MEDIA AGENCY</h1>
          <h1 class="lead">WE ARE LOREM MEDIA</h1>
          <button class="btn btn-sm rounded-pill mt-4">GET A FREE AUDIT</button>
      </div>
  </div>

  <div class="col-xl-6 col-lg-6 order-1 order-md-2 col-md-6 header-below-img-div">
      <img class="img-fluid header-below-img" src="../../../assets/img/Group 1423.svg" alt="">
  </div>

</div>
