.header-below{
  padding-top: 130px;
}

.header-below-text{
  margin-top: 100px;
}

.header-below-text-1{
  font-size: 50px;
  font-weight: 400;
  opacity: 0.8;
}

.header-below-text-2{
  font-size: 60px;
  font-weight: 700;
  opacity: 0.8;
}

.btn{
  background: linear-gradient(90deg, rgb(26, 18, 159,1) 70%, rgb(81, 86, 249,1) 100%);
  width: 216px;
  height: 49px;
  color: white;
  font-weight: 700;
}

@media(max-width: 2000px){
  .header-below-text{
    padding-left: 20%;
  }
}

@media(max-width: 1300px){
  .header-below-text-2{
    font-size: 40px;
    font-weight: 700;
    opacity: 0.8;
  }

  .header-below-text-1{
    font-size: 40px;
    font-weight: 400;
    opacity: 0.8;
  }
}

@media(max-width: 1100px){
  div.row.header.below{
    width: 1100;
  }
}

@media (max-width: 768px) {

  .header-below-img-div{
    margin-top: 65px;
  }

  .header-below-img{
    height: 400px;
    float: right;
  }

  .header-below-text{
    float: left;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 1px;
    margin-left: 20px;
  }

  .header-below-text .lead{
    font-size: 15px;
  }
}

@media (max-width: 420px){
  .header-below-text{
    margin-top: 70px;
  }
}




