.carousel-box {
  height: 700px;
  background-color: rgb(126, 118, 249, 15%);
}

.carousel-center{
  top: 10%;
  width: 100%;
  text-align: center;
  position: absolute;
}

.carousel-center-head{
  opacity: 0.8;
  font-weight: 700;
  font-size: 50px;
}

.carousel-main{
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.item{
  width: 350px;
  margin: auto;
}

.card{
  height: 410px;
  border-radius: 30px;
}

.card-text{
  height: 170px;
  width: auto;
  max-width: 400px;
  font-size: 15px;
  margin-top: 30px;
  overflow: auto;
}

.card-title{
  font-size: 30px;
  font-weight: 300;
}

.price{
  margin-right: 10%;
  color: #1000FF;
  font-weight: 700;
}

button{
  background: linear-gradient(90deg, rgb(26, 18, 159,1) 70%, rgb(81, 86, 249,1) 100%);
  width: 100px;
  color: white;
  position: absolute;
  bottom: 30px;
  right:  50%;
}

@media (max-width: 1570px) {
  .card-text{
    width: auto;
    font-size: 15px;
    overflow: auto;
  }

  button{
    right:40%
  }
}

@media (max-width: 767px){

  div.row.pt-5.text-center,
  div.card.border-0.shadow
  {
    width: 350px;
  }

  .card-text{
    height: 170px;
  }
}

@media (max-width: 450px){
  .carousel-box {
    width: 450px;
  }
}
