<section>
  <div class="carousel-box position-relative">
    <div class="carousel-center">

      <div>
        <h1 class="carousel-center-head">Our Pricing</h1>
      </div>

      <div class="carousel-main">
        <owl-carousel [options]="slideOptions" [carouselClasses]="['owl-theme', 'sliding']" #owlElement>

          <div class="item">
              <form [formGroup]="subscripFormGold" (ngSubmit)="subscripGold()" >
                <input class=" d-none" formControlName="value">
                <div class="card border-0 shadow">
                  <div class="card-body">
                    <h5 class="card-title mt-3">Gold Package</h5>
                    <p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit amet, faucibus vitae lacus. Integer elementum at nisi pharetra convallis. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vel iaculis dui.</p>
                    <h2 class="price">$ 200</h2>
                    <button type="submit" class="btn btn-sm rounded-pill">See Details</button>
                  </div>
                </div>
              </form>
          </div>

          <div class="item">
            <form [formGroup]="subscripFormPlatinum" (ngSubmit)="subscripPlatinum()" >
              <input class=" d-none" formControlName="value">
              <div class="card border-0 shadow">
                <div class="card-body">
                  <h5 class="card-title mt-3">Platinum Package</h5>
                  <p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit amet, faucibus vitae lacus. Integer elementum at nisi pharetra convallis. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vel iaculis dui.</p>
                  <h2 class="price">$ 300</h2>
                  <button type="submit" class="btn btn-sm rounded-pill">See Details</button>
                </div>
              </div>
            </form>
          </div>

          <div class="item">
              <form [formGroup]="subscripFormSilver" (ngSubmit)="subscripSilver()" >
                <input class=" d-none" formControlName="value">
                <div class="card border-0 shadow">
                  <div class="card-body">
                    <h5 class="card-title mt-3">Silver Package</h5>
                    <p class="card-text lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl nibh, sagittis ac faucibus sit amet, faucibus vitae lacus. Integer elementum at nisi pharetra convallis. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris vel iaculis dui.</p>
                    <h2 class="price">$ 100</h2>
                    <button type="submit" class="btn btn-sm rounded-pill">See Details</button>
                  </div>
                </div>
              </form>
          </div>

        </owl-carousel>
      </div>

    </div>
  </div>
</section>
