.carousel-box {
  height: 818px;
  background-color: whitesmoke;
  width: auto;
}

.carousel-center{
  top: 10%;
  width: 100%;
  text-align: center;
}

.carousel-center-head{
  opacity: 0.8;
  font-weight: 700;
  font-size: 50px;
}

.card{
  height: 410px;
  border-radius: 30px;
}

.card-text{
  height: 93px;
  width: auto;
  max-width: 400px;
  font-size: 15px;
  margin-top: 70px;
  overflow: hidden;
}

.card-title{
  font-size: 30px;
  font-weight: 300;
}

.btn{
  background: linear-gradient(90deg, rgb(26, 18, 159,1) 70%, rgb(81, 86, 249,1) 100%);
  width: 100px;
  color: white;
  position: absolute;
  bottom: 20px;
  right:  50%;
}

@media (max-width: 1570px) {
  .card-text{
    width: auto;
    font-size: 15px;
    overflow: hidden;
  }

  .btn{
    right:40%
  }
}

@media (max-width: 764px){
  .section-style{
    margin-bottom: 900px;
  }
}


