.section-back{
  background: url('src/assets/img/Bg Shape.svg') no-repeat;
  background-position: right top;
}

.center {
  width: 100%;
  position: absolute;
}

#mainNavbar .nav-link {
  color: white;
  padding-right: 20px;
}

.navbar-nav{
  padding-left: 130px;
}

@media(max-width: 1100px){
  .navbar-nav{
    padding-left: 80px;
  }
}

@media (max-width: 767px) {
  .section-back{
    margin: 0px 0px 50px 0px;
  }

  .navbar-nav{
    padding-left: 70px;
  }
}

@media (max-width: 450px){
  .section-back{
    width: 450px;
  }
}
