.section-back{
  background: url('src/assets/img/Bg Shape.svg') no-repeat;
  height: 700px;
  background-position: right;
}

#mainNavbar .nav-link {
  color: white;
}

.navbar-toggler-icon{
  color: white;
}

.header-below-text{
  padding-left: 32%;
}

.header-below-text-2{
  font-size: 40px;
  font-weight: 800;
  opacity: 0.8;
}

.header-below-text-1{
  font-size: 30px;
  font-weight: 500;
  opacity: 0.8;
}

.btn{
  background: linear-gradient(90deg, rgb(26, 18, 159,1) 70%, rgb(81, 86, 249,1) 100%);
  width: 216px;
  height: 49px;
  color: white;
}

@media (max-width: 767px) {
  .section-back{
    margin: 0px 0px 200px 0px;
  }

  .header-below-img{
    margin: 100px 0px 0px 140px;
    padding: 0px 0px 0px 0px;
    width: 318px;
    height:340px
  }

  .header-below-text{
    margin-left: 5px;
    padding: 50px 5px 5px 20px;
    width: 500px;
  }
}




