.section-style{
  padding: 50px 20px 200px 20px;
  margin-top: 100px;
}

.btn{
  background: linear-gradient(90deg, rgb(26, 18, 159,1) 70%, rgb(81, 86, 249,1) 100%);
  width: 150px;
  height: 40px;
  color: white;
  position: absolute;
  left: 50px;
}

.who-text-box {
  padding-left: 50px;
  padding-right: 50px;
  width: 500px;
}

.who-text-box .lead {
  width: 550px;
  height: 300px;
  margin-top: 50px;
  overflow: hidden;
}

.center {
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: absolute;
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 1350px) {
  .who-text-box .lead {
    width: 60%;
    overflow: hidden;
    height: 240px;
  }
}

@media (max-width: 767px) {
  .section-style{
    margin: 0px 0px 100px 0px;
    padding-left: 5px;
  }

  img {
  width: 90%;
  height: auto;
  }

  .who-text-box .lead {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .who-text-box h1{
    padding-right: 100px;
    width: 350px;
    font-size: 35px;
    font-weight: 700;
  }
}
