<section class="section-style">
  <div class="row align-items-center">

      <div class="col-md-6 order-1 order-md-1">
          <img src="../../../../assets/img/Group 1538.svg" alt="" class="img-fluid">
      </div>

      <div class="col-md-6 order-2 order-md-2">
        <div class="ml-sm-5 position-relative mb-sm-5 mb-xl-5">
          <img src="../../../assets/img/Group1238.svg" class="img-fluid">
          <div class="container text-md-left center">
            <div class="row">

              <div class="col-10 col-sm-12 col-xl-12 who-text-box">
                <h1>Who We Are</h1>
                <p class="lead">Lorem Media is a full-service social media agency. We offer businesses innovative solutions that deliver the right type of audience to you in the most effective strategies possible. We strive to develop a community around your business, polishing your branding, and improving your public relations.
                  Social Media is now one of the most powerful marketing tools with the ability to communicate with a target audience in real time.

                  It's 2019: time to sink or swim.

                  We are your Social Media Marketing Agency.</p>
              </div>
            </div>
            <button class="col btn btn-sm rounded-pill">SEE MORE</button>
          </div>
        </div>

      </div>
    </div>

</section>
