<section>
  <div class="position-relative news-box">
    <div class="position-absolute news-center">

      <div>
        <h1 class="news-center-first">Do you want to get <span class="news-center-special">special news?</span></h1>
      </div>

      <div class=" mt-5">
        <form>
          <span class="">
            <input type="text" placeholder="Drop Your Email">
          </span>
          <span class="">
            <button class="btn btn-lg ml-5 mb-2 rounded-pill subscribe-btn">Subscribe</button>
          </span>
        </form>
      </div>

    </div>
  </div>
</section>
