<!-- Footer -->
<section>
  <footer class="page-footer">
    <div class="position-relative">
      <img src="../../../assets/img/MaskGroup1.svg" class="img-fluid">

      <div class="container text-md-left text-white center">
        <div class="row">

          <div class="col-lg-3 col-md-12">
            <h5 class=" mt-3 mb-4 footer-logo pl-5">logo.</h5>
            <div class="font-weight-bolder mt-3 mb-4">
              <div class="footer-stay pr-5">Stay in touch</div>
              <div>

              </div>
            </div>
          </div>

          <div class="col-lg-9 col-md-12">
            <div class="row">
              <div class="col-lg-3 col-md-4">
                <h5 class=" mt-3 mb-4 font-weight-bold">Quick Links</h5>
                <div class=" font-weight-normal">
                  <div class="mb-2">About</div>
                  <div class="mb-2">Home</div>
                  <div class="mb-2">Pricing</div>
                  <div class="mb-2">Location</div>
                  <div class="mb-2">Office</div>
                </div>
              </div>

              <div class="col-lg-4 d-none d-lg-block">
                <h5 class="font-weight-bold mt-3 mb-4 text-white">Hours</h5>
                <div class=" font-weight-normal">
                  <div class="mb-2">Monday:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9:00-18:00</div>
                  <div class="mb-2">Tuesday:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9:00-18:00</div>
                  <div class="mb-2">wednesday:&nbsp;&nbsp;9:00-18:00</div>
                  <div class="mb-2">Thursday:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9:00-18:00</div>
                  <div class="mb-2">Friday:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9:00-18:00</div>
                </div>
              </div>

              <div class="col-lg-5 col-md-4">
                <h5 class="font-weight-bold mt-3 mb-4">Contacts</h5>
                <div class=" font-weight-normal">
                  <div class="">000-000-000</div>
                  <div class="">info@email.com</div>
                  <br>
                  <div class="">New York, US</div>
                  </div>
                </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </footer>
</section>
