.footer-logo
{
  font-size: 40px;
  font-weight: 400;
}

.footer-stay{
  font-size: 30px;
  font-weight: 500;
}

.center {
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 15%;
}

.footer-back{
  background: url(src/assets/img/MaskGroup1.svg) no-repeat;
  height: auto;
  width: auto;
}

img {
  width: auto;
  height: auto;
}

@media (max-width: 500px) {
  img {
    width: auto;
  }
}
